  <div class="file-input">
    <input (change)="onFileSelected()" t type="file" id="file" class="file">
    <label for="file">
      Select file
      <p class="file-name"></p>
    </label>
  </div>
    
    <pdf-viewer id="viewer" 
      class="pdf-viewer"  
      [src]="pdfSrc" 
      [zoom]="zoomValue" 
      (page-rendered)="pageRendered($event)"
      (after-load-complete)="afterLoadComplete($event)">
    </pdf-viewer>
    
    <button mat-fab color="custom" class="buttonPlus" (click)="zoomIn()">+</button>
    <button mat-fab color="custom" class="buttonMinus" (click)="zoomOut()">-</button>
    
    <app-loading-spinner [showSpinner]="showLoadingSpinner"></app-loading-spinner>
